body {
  background-color: #d4d4d4;
  /*text-align: center;*/
  font-family: sans-serif;
  letter-spacing: 0.08em;
}

#page {
  min-height: 100vh;
  padding-top: 64px;
  background-color: white;
}

nav {
  height: 54px;
}

.full-width {
  width: 100%;
}

.no-padding {
  padding: 0;
}

.a-reset {
  color: inherit;
  text-decoration: inherit; /* No underline */
}

.navbar-brand > .logo {
  height: 18px;
  margin: 0 3px 2px 2px;
}

#wallet-display {
  display: none;  /* Hide this until user connects wallet. */
  cursor: default;
  color: white;
}

#wallet-address {
  text-transform: uppercase;
}

#dots {
  letter-spacing: 0;
}

#withdrawal-form {
  display: none;
}

.list-number {
  width: 32px;
  margin-right: 24px;
  font-size: 32px;
  /*font-weight: bold;*/
}

.list-item {
  margin-bottom: 96px;
  text-align: center;
  /*font-size: 1.2em;*/
}

.wallet-connected {
  display: none; /* Hide this until user connects wallet. */
}

.dropdown-item {
  cursor: pointer;
}

.fixed-width-input {
  width: 240px;
  margin-left: auto;
  margin-right: auto;
}

#footer > div > div > span {
  color: white;
}

#footer > div > div > span > a {
  color: #ffc107;
}

/* deposit/withdraw toggle */
.switch-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.switch-button {
  /*background: rgba(0, 0, 0, 1);*/
  border-radius: 999px;
  overflow: hidden;
  width: 240px;
  text-align: center;
  /*font-size: 18px;*/
  /*letter-spacing: 1px;*/
  color: white;
  position: relative;
  padding-right: 120px;
  position: relative;
}
.switch-button:before {
  content: "Withdraw";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  pointer-events: none;
  /* makes it the opposite color of .switch-button */
  -webkit-filter: invert(100%);
  filter: invert(100%);  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.switch-button-checkbox {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 2;
}
.switch-button-checkbox:checked + .switch-button-label:before {
  transform: translateX(120px);
  transition: transform .25s ease;
}
.switch-button-checkbox + .switch-button-label {
  position: relative;
  padding: 12px 0;
  display: block;
  user-select: none;
  pointer-events: none;
}
.switch-button-checkbox + .switch-button-label:before {
  content: "";
  background: #0d6efd;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 30px;
  transform: translateX(0);
  transition: transform .25s ease;
}
.switch-button-checkbox + .switch-button-label .switch-button-label-span {
  position: relative;
}

/* up/down toggle */
label {
  pointer-events: none;
}
label .input {
  display: none;
}
label .input:checked + .toggle-wrapper {
  /*box-shadow: 0 8px 14px 0 rgba(18, 51, 215, 0.12);*/
}
label .input:checked + .toggle-wrapper > .selector {
  left: calc(100% - 50px);
  background-color: #198754; /* green */
}
label .input:checked ~ .notification > .selected:before {
  content: "Up";
  font-size: 1rem;
}
label .toggle-wrapper {
  position: relative;
  width: 120px;
  height: 60px;
  background-color: #eaeaea;
  border-radius: 999px;
  margin: auto;
  cursor: pointer;
  pointer-events: all;
  /*box-shadow: 0 8px 14px 0 rgba(215, 60, 18, 0.12);*/
}
label .toggle-wrapper .selector {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  background-color: #ee5f39; /* red */
  transition: left 0.25s ease;
  border-radius: 50%;
}
label .notification {
  width: 100%;
  font-size: 1rem;
}
label .notification .selected:before {
  content: "Down";
  border-bottom: 2px solid;
  font-size: 1rem;
}
.selector > div > i {
  line-height: 40px;
  font-size: 24px;
}
.selector > div {
  transition: 0.25s ease; 
}
label .input:checked + .toggle-wrapper > .selector > div {
  -o-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -webkit-transform:rotate(180deg);
  transform:rotate(180deg);
}
