body {
  background-color: #d4d4d4;
  /*text-align: center;*/
  font-family: sans-serif;
  letter-spacing: 0.08em;
}

#page {
  min-height: 100vh;
  padding-top: 64px;
  background-color: white;
}

nav {
  height: 54px;
}

.full-width {
  width: 100%;
}

.no-padding {
  padding: 0;
}

.a-reset {
  color: inherit;
  text-decoration: inherit; /* No underline */
}

#circle {
  display: inline-block;
  margin-right: 1px;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  background: #b0fbf6;
  transform: translateY(3px); /* Simple fix */ 
}

#wallet-display {
  /*display: none;  Hide this until user connects wallet. */
  cursor: default;
  font-size: 1.25rem;
  color: white;
}

#wallet-address {
  text-transform: uppercase;
}

#dots {
  letter-spacing: 0;
}

.list-number {
  width: 32px;
  margin-right: 16px;
  font-size: 32px;
  /*font-weight: bold;*/
}

.list-item {
  margin-bottom: 96px;
  text-align: center;
  font-size: 1.2em;
}

#wallet-connected {
  display: none; /* Hide this until user connects wallet. */
}

.dropdown-item {
  cursor: pointer;
}

#eth-deposit-amount {
  margin-left: auto;
  margin-right: auto;
  width: 240px;
}

#footer > div > span {
  color: white;
}

#footer > div > span > a {
  color: green;
}

/* styles for toggle switch */
label {
  pointer-events: none;
}
label .input {
  display: none;
}
label .input:checked + .toggle-wrapper {
  /*box-shadow: 0 8px 14px 0 rgba(18, 51, 215, 0.12);*/
}
label .input:checked + .toggle-wrapper > .selector {
  left: calc(100% - 50px);
  background-color: green; /* green */
}
label .input:checked ~ .notification > .selected:before {
  content: "Up";
  font-size: 1rem;
}
label .toggle-wrapper {
  position: relative;
  width: 120px;
  height: 60px;
  background-color: #eaeaea;
  border-radius: 999px;
  margin: auto;
  cursor: pointer;
  pointer-events: all;
  /*box-shadow: 0 8px 14px 0 rgba(215, 60, 18, 0.12);*/
}
label .toggle-wrapper .selector {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  background-color: #ee5f39; /* red */
  transition: left 0.25s ease;
  border-radius: 50%;
}
label .notification {
  width: 100%;
  font-size: 1rem;
}
label .notification .selected:before {
  content: "Down";
  border-bottom: 2px solid;
  font-size: 1rem;
}
